
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{{ partial "stylesheets" }}
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			<a href="/" class="upper-left">
				<img src="img/logo.png" height="50" />
			</a>  

			<!-- Header -->
			<header id="header">
				<div class="content">
					<div class="inner icons">
						<h1>{{ .Site.Params.title | safeHTML }}</h1>
						<!-- {{ partial "social" }} -->							
						<p>Making tails wag since 2017</p>
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="#services">Services</a></li>
						<li><a href="#gallery">Gallery</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</nav>
			</header>

			<!-- Main -->
			<div id="main">
				<article id="services">
					<h2 class="major">Services</h2>
				</article>

				<article id="gallery">
					<h2 class="major">Gallery</h2>
				</article>

				<article id="contact">
					<h2 class="major">Contact Us</h2>
				</article>

				<article id="about">
					<h2 class="major">About Us</h2>
					<span class="image main"><img src="/img/london.jpg" alt="" /></span>
					<img src="/img/mco.jpg" alt="" height="150" class="me" />
					{{ partial "about" }}
				</article>
			</div>

			<!-- Footer -->
			{{ partial "footer" }}
			
		</div>

		<!-- BG -->
		<div id="bg"></div>

		<!-- Scripts -->
		{{ partial "javascript" }}
	
	</body>
</html>
